@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --green: #27ae60;
  --dark-color: #219150;
  --black: #444;
  --line-color:#666;
  --border: .05rem solid rgba(0,0,0,.1);
  --border-hover: .05rem solid var(--black);
  --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);


}

*{
  font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}




.heading{
  @apply relative text-center mb-6  font-bold ;

}

.heading::before{
  @apply  absolute top-1/2 left-0 translate-y-1/2 w-full h-1;
  content: '';
  height: .01rem;
  z-index: -1;
  background: rgba(0,0,0,.1);
}

.heading span{
  @apply text-2xl px-6 py-2 bg-white;
  color: var(--black); 
  border: var(--border);
}

.btn-shop-now{
  @apply mt-4 inline-block px-8 py-2 rounded-lg text-white font-medium text-xl cursor-pointer;
  background: var(--green);
}

.btn-shop-now:hover{
  background:var(--dark-color);
  color: white;
}

section{
  padding:2rem 9%;
}
/*------------------- header ----------------------*/

/* ----------header-top------------------- */


.header .header-1{
  @apply bg-white flex align-middle justify-between;
  padding: 1.5rem 9%;
}

.header .header-1 .logo{
  @apply text-2xl ;
  font-weight: bolder;
  color: var(--black);
}

.header .header-1 .logo i{
  color:var(--green);
}

.header .header-1 .search-form{
    @apply w-4/12 h-10 overflow-hidden bg-white flex items-center rounded-lg;
    border: var(--border);
}

.header .header-1 .search-form input{
  @apply text-xl px-5 w-full h-full normal-case ;
  color: var(--black);
}

.header .header-1 .search-form label{
  @apply text-xl pr-5 cursor-pointer;
  color: var(--black);
}

.header .header-1 .search-form label:hover{
  color:var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
  @apply text-xl ml-6 cursor-pointer ;
  color: var(--black);
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--green);
}

#search-btn{
  @apply hidden;
}

/* ----------header-main------------------- */

.header .header-2{
  background: var(--green);
}

.header .header-2 .navbar2 {
  @apply text-center
}

.header .header-2 .navbar2 a{
  @apply text-white inline-block p-3 text-base 
}

.header .header-2 .navbar2 a:hover{
  background:var(--dark-color);
}

.header .header-2.active{
  @apply fixed top-0 left-0 right-0 z-50
}

.bottom-navbar2{
  @apply text-center fixed bottom-0 left-0 right-0 z-50 hidden;
  background: var(--green);
}

.bottom-navbar2 a{
  @apply text-xl p-8 text-white
}

.bottom-navbar2 a:hover{
  background: var(--dark-color);
}

/* ----------form login------------------ */
.login-form-container{
  @apply flex items-center justify-center fixed z-50 h-full w-full;
  background:rgba(255,255,255,.9);
}
.login-form-container.active{
  @apply left-0
}

.login-form-container form{
  @apply bg-white p-8 rounded-lg m-8;
  border: var(--border);
  width: 30rem;
  box-shadow: var(--box-shadow);
}

.login-form-container form input{
  
  text-transform: none
}

.login-form-container form h3{
  @apply text-2xl  text-center font-semibold;
  color: var(--black);
}

.login-form-container form span{
  @apply block text-base pt-2
} 

.login-form-container form .box{
  @apply w-full my-2 mx-0 text-base rounded-lg py-2 px-5 transform-none;
  color: var(--black);
  border: var(--border);
}

.login-form-container form .checkbox{
  @apply flex items-center gap-2 py-2 px-0
}

.login-form-container form  .checkbox label{
  @apply text-base cursor-pointer;
  color: var(--line-color);
}

.login-form-container form .btn{
  @apply text-center w-full my-4 py-2;
  background: var(--green)
  
}

.login-form-container form p{
  @apply pt-3 text-base ;
  color: var(--line-color);
}

.login-form-container form p a{
  @apply underline;
  color: var(--green);
}

.login-form-container #close-login-btn{
  @apply absolute top-6 right-10 text-5xl cursor-pointer;
  color: var(--black); 
}

/*  <!-- -------------------home section starts  ----------------> */

.home{
  @apply bg-cover bg-center;
  background: url(../image/banner-bg.jpg) no-repeat ;

}

.home .row2{
  @apply flex items-center  gap-6
}

.home .row2 .content{
  flex: 1 1 42rem;
}

.home .row2 .books-slider{
  flex: 1 1 42rem;
  @apply text-center mt-8
}

.home .row2 .books-slider a img {
  height: 16rem;
}

.home .row2 .books-slider a:hover {
  transform: scale(.9)
}

.home .row2 .books-slider .stand{
  @apply w-full ;
  margin-top: -1rem;
}

.home .row2 .books-slider .swiper-wrapper .swiper-slide{
  width: auto;
  
}

.home .row2 .content h3{
  color:var(--black);
  font-size: 3rem;
  font-weight: 600
}

.home .row2 .content p{
  @apply text-sm py-4;
  line-height: 2;
  color: var(--line-color);
}

.home .row2 .content a{
  @apply py-2 px-8 text-lg
}


/* --------icon container------------------- */

.icons-container{
  @apply grid gap-8 grid-cols-4;
  
}

.icons-container .icons{
  @apply flex items-center gap-4 py-8;
 
}

.icons-container .icons:hover i{
  transform: scale(1.2);
 
}

.icons-container .icons i{
  @apply text-4xl;
  color: var(--green);
}

.icons-container .icons h3{
  @apply text-xl pb-1  font-bold;
  color: var(--black);
}

.icons-container .icons p{
  @apply text-sm;
  color: var(--line-color);
}


/*  <!-----------------featured section starts -------------------- -->*/

.featured .featured-slider .box{
  @apply my-4 relative overflow-hidden text-center;
  border: var(--border);
}

.featured .featured-slider .box:hover{
  border:  var(--border-hover) ;
}

.featured .featured-slider .box .image{
 padding: 1rem;
  background: linear-gradient(15deg, #eee 30%, #fff 31%);
}


.featured .featured-slider .box:hover .image{
  transform: translateY(3rem);
  z-index: 1;
}
.featured .featured-slider .box:hover .image img{
 
  z-index: 1;

}
.featured .featured-slider .box .image img{
  height: 15rem;
  margin: auto;
}

.featured .featured-slider .box .icons{
  @apply absolute top-0 left-0 right-0 bg-white z-10;
  transform: translateY(-105%);
  border-bottom: var(--border-hover);
}

.featured .featured-slider .box:hover .icons{
  transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
  color: var(--black);
  @apply text-lg py-3 px-5
}

.featured .featured-slider .box .icons a:hover{
  background: var(--green);
  color: #fff;
}

.featured .featured-slider .box .content{
  background:#eee;
  padding:1.5rem;
  z-index: 10000;
}

.featured .featured-slider .box .content h3{
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--black);
}

.featured .featured-slider .box .content .price{
  @apply text-lg  font-bold my-2;

  color:var(--black);
}
.featured .featured-slider .box .content .btn{
  @apply text-lg  px-4 py-1 text-white;
  border: 1px solid var(--green);
  
  background: var(--green);
  border-radius: 8px
}

.featured .featured-slider .box .content .price span{
  @apply text-sm ;
  color:var(--light-color);
  font-weight: 500;
  text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
  @apply h-10 w-10 bg-white;
  border: var(--border-hover);
  color: var(--black);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 1.3rem;
    margin: auto;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color:#fff;
}

.products-preview{
  @apply fixed top-0 left-0 w-full hidden items-center justify-center;
  min-height: 100vh;
  background: rgba(0,0,0,.8);
}

.products-preview .preview{
  @apply hidden p-6 text-center bg-white relative m-6  z-50;
  width: 27%;

}

.products-preview .preview.active{
  display: inline-block;

}

.products-preview .preview img{
  height: 20rem;
  margin: auto;
}

.products-preview .preview .fa-times{
  @apply absolute top-4 right-6 cursor-pointer text-3xl;

  color:var(--green);
 
}

.products-preview .preview .fa-times:hover{
  transform: rotate(90deg);
}

.products-preview .preview h3{
  @apply text-2xl py-2;
  color:var(--black);
 
}

.products-preview .preview .stars{

  font-size: 1rem;
}

.products-preview .preview .stars i{
  color:var(--green);
}

.products-preview .preview .stars span{
  color:var(--line-color);
}

.products-preview .preview p{
  @apply text-sm py-2;
  line-height: 1.5;
  color:var(--line-color);
}

.products-preview .preview .price{
  @apply py-2 text-2xl;
  color:var(--green);
}

.products-preview .preview .buttons{
  @apply flex gap-4 flex-wrap mt-4;

}

.products-preview .preview .buttons a{
  @apply p-2.5 text-base ;
  flex:1 1;
  color:#444;
  
}

.products-preview .preview .buttons a.cart{
  border:.05rem solid var(--dark-color);
  background: var(--green);
  color:#fff;
}

.products-preview .preview .buttons a.buy{
  border:.05rem solid var(--black);
 
  color:var(--black);
 
}

.products-preview .preview .buttons a.cart:hover{
  background: var(--dark-color);
}

.products-preview .preview .buttons a.buy:hover{
  border:.05rem solid  var(--dark-color);
  background: var(--dark-color);
  color:#fff;
}






/* -----------------newsletter------------------ */
.newsletter{
  background: url(../image/letter-bg.jpg) no-repeat;
  @apply bg-cover  bg-center bg-fixed mb-8 
}
.newsletter form{
  @apply max-w-md ml-auto text-center py-8
}

.newsletter form h3{
  @apply text-lg text-white pb-1 font-normal
}

.newsletter form .box{
  @apply w-full my-3 px-6 py-2 text-sm transform-none;
  border-radius: 0.3rem;
  color: var(--black);
}

/* --------------arrivals slider---------------------- */

.arrivals .arrivals-slider .box{
  @apply flex items-center gap-8 py-6 px-3 my-2;
  border: var(--border);
  
}

.arrivals .arrivals-slider  .box:hover{
  border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
  height: 10rem;
}


.arrivals .arrivals-slider .box .content h3{
  @apply text-base;
  color: var(--black);
}

.arrivals .arrivals-slider .box .content .price{
  @apply text-base pb-2;
  color: var(--black);
}

.arrivals .arrivals-slider .box .content .price span{
  @apply text-sm ;
  text-decoration: line-through;
  color: var(--line-color);
  
}


.arrivals .arrivals-slider .box .content .stars i{
  @apply text-sm ;
  color: var(--green);
}


/* ------------------------deal---------------------- */

.deal{
  @apply flex items-center flex-wrap gap-4;
  background: #f3f3f3;
}

.deal .content{
  flex: 1 1 35rem;
}

.deal .image{
  flex: 1 1 35rem;
}

.deal .image img{
  width: 100%;
}

.deal .content h3{
  @apply text-2xl pb-1 font-bold;
  color: var(--green);


}

.deal .content h1{
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 600
}

.deal .content p{
  @apply py-2 text-sm;
  line-height: 2;
  color: var(--line-color);
}


/* <!-- --------------------reviews section starts  -------------> */
.reviews .reviews-slider .box{
  border: var(--border);
  @apply p-4 text-center my-4
}

.reviews .reviews-slider .box:hover{
  border: var(--border-hover);
}

.reviews .reviews-slider .box img{
  @apply h-20 w-20 m-auto;
  border-radius: 50%;
  object-fit: cover;
}

.reviews .reviews-slider .box h3{
  @apply text-lg py-2;
  color: var(--black);
}

.reviews .reviews-slider .box .stars{
  @apply pt-2
}

.reviews .reviews-slider .box .stars i{
  @apply text-base ;
  color: var(--green);
}


/*------------------------ blogs -----------------*/

.blogs .blogs-slider .box{
  @apply my-8;
  border: var(--border);
}

.blogs .blogs-slider .box:hover{
  border: var(--border-hover);
}

.blogs .blogs-slider .box .image{
  @apply h-60 w-full overflow-hidden
}

.blogs .blogs-slider .box .image img{
  @apply h-full w-full ;
  object-fit: cover;
  
}

.blogs .blogs-slider .box:hover .image img{
  transform: scale(1.1);
}

.blogs .blogs-slider .box .content{
  padding: 1rem;
}

.blogs .blogs-slider .box .content h3{
  @apply text-xl font-bold;
  color: var(--black);
}

.blogs .blogs-slider .box .content p{
  @apply py-2;
  line-height: 1.5;
 font-size: 14px;
}

.blogs .blogs-slider .box .content .btn{
  @apply text-base;
  border-radius: 5px;
  
}

/* -----------------footer------------------- */

.footer .box-container{
  @apply grid grid-cols-4 gap-8 mt-8
}

.footer .box-container .box h3{
  @apply text-xl py-3 font-bold;
  color: var(--black);
}

.footer .box-container .box a{
  @apply block text-sm py-2;
  color: var(--line-color);
}

.footer .box-container .box a i{
  color: var(--green);
  padding-right: .3rem;
}

.footer .box-container .box a:hover i{
  padding-right: 1rem;
}

.footer .box-container .box .map{
  width:100%;
}
.footer .share {
  @apply text-center ;
 
}
.footer .share a{
  @apply h-12 w-12 text-lg text-white mx-2 items-center text-center m-auto ;
  background: var(--green);
  border-radius: 50%;
  line-height: 3rem;
  
}

.footer .share a:hover{
  background:  var(--black);
}

.footer .credit{
  @apply mt-5 px-3 pt-8 text-xl text-center;
  color: var(--line-color); 
  border-top: var(--border);
}

.footer .credit span{
  color: var(--green);
}

.loader-container{
  @apply fixed top-0 left-0 h-full w-full z-50 bg-yellow-50 flex items-center justify-center
}

.loader-container.active{
  display: none;
}

.loader-container img{
  height:8rem;
}







/* media queries  */

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header .header-1{
      padding:2rem;
  }

  section{
      padding:3rem 2rem;
  }

}

@media (max-width:768px){

  html{
      scroll-padding-top: 0;
  }

  body{
      padding-bottom: 6rem;
  }

  .header .header-2{
      display:none;
  }

  .bottom-navbar2{
      display: block;
  }

  #search-btn{
      display: inline-block;
  }

  .header .header-1{
      box-shadow: var(--box-shadow);
      position: relative;
  }

  .header .header-1 .search-form{
      position:absolute;
      top:-115%; right:2rem;
      width: 90%;
      box-shadow: var(--box-shadow);
  }

  .header .header-1 .search-form.active{
      top:115%;
  }

  .home .row2 .content{
      text-align: center;
  }

  .home .row2 .content h3{
      font-size: 3.5rem;
  }

  .newsletter{
      background-position: right;
  }

  .newsletter form{
      margin-left:0;
      max-width: 100%;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}
#menu_sidebar li {
  position: relative;
}

#menu_sidebar li  #menu2{
  display: none;
  
  text-align: center;
  top: -50px;
  transition:all 2s linear;
}

#menu_sidebar li  #menu2.active{
  transition:all 2s linear;
  display: inline-block;
  
  top: 0px;
 
}